html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.gradeTable p {
  font-weight: 300;
  padding: .375rem .75rem;
}

.inputPlaceholder {
  font-weight: 300;
}
