html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.gradeTable p {
  font-weight: 300;
}

@media (max-width: 978px) {
  .table-responsive {
    border: 1px solid #ccc;
  }

  .table {
    margin-bottom: 0px;
  }
}
